@font-face {
  font-family: 'Lobster', cursive;
  src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Lobster', cursive;
}

p {
  font-size: 1.6rem;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:active {
  color: inherit;
}

h1 {
  font-size: 4rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 1rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.header__logo {
  max-width: 7rem;
  height: auto;
  margin-left: 4rem;
}

.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-size: cover;
}

.header__logo a p {
  margin-left: 1rem;
  font-size: 2.2rem;
}

.header__menu {
  margin-right: 2rem;
  border: none;
  background-color: transparent;
}

.header__menu .fas {
  font-size: 3.5rem;
  color: orange;
  font-weight: bold;
}

.panorama__wrapper {
  width: 100vw;
  height: auto;
  position: relative;
}

.panorama__image {
  max-width: 100%;
  height: auto;
}

.panorama__container {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  color: white;
  text-align: center;
}

.panorama__container .panorama__main-heading {
  white-space: nowrap;
}

.panorama__container .panorama__description {
  margin: 3rem 0rem;
  font-size: 2rem;
}

.panorama__container .panorama__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panorama__container .panorama__buttons .left, .panorama__container .panorama__buttons .right {
  font-size: 2rem;
  color: white;
  background-color: orange;
  white-space: nowrap;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.description {
  padding-top: 2rem;
}

.description__headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.description__headings-secondary {
  font-weight: lighter;
  font-style: italic;
}

.description__body {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.description__body p {
  margin-bottom: 0.5rem;
}

.gallery__images {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.gallery__images .image {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.offers {
  padding-top: 2rem;
}

.offers .offer {
  position: relative;
  width: 95vw;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
}

.offers .offer img {
  width: 90%;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  padding-top: 3rem;
  border-radius: 10px;
}

.offers .offer h2 {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.offers .offer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
}
/*# sourceMappingURL=style.css.map */