.footer {
    background-color: $color-light-grey;
    margin-top: 2rem;

    &__address{
        padding-top: 2rem;
        text-align: center;
    }

    &__contact {
        margin: 2rem 0rem;

        @include standart-flex(row, space-between, center);

        .social-icons {

            @include standart-flex(row, flex-start, center);

            .fab {
                font-size: 2.5rem;
                color: $color-black;
                margin-left: 1rem;
            }
        }

        .phone-and-mail{
            font-size: 1.3rem;
            margin-right: 1rem;
 
        }

    }

    &__creater-info{
        text-align: center;
        margin-top: 1rem;
    }
}