.scroll-up {

    
    position: relative;
    a{

        border: none;
        background-color: transparent;
        

        i {
            font-size: 3rem;
            padding: 1rem;
            background-color: $color-orange;
            border-radius: 50%;

            position: absolute;
            top: 30%;
            right: 2%;
        }
    }
    
}