.entertainment-card {

    border-bottom: 1px solid $color-light-grey;
    padding-bottom: 1rem;

    &__image {

        width: 100px;
        width: auto;
        grid-area: image;

        img {
            max-width: 100%;
            max-height: auto;
        }

    }

    &__heading {
        padding: 1rem 0;
        text-align: center;
        grid-area: heading;
    }

    &__description {
        text-align: justify;
        margin: 0 1rem;
        grid-area: description;
    }
}

@media screen and (min-width: 768px) {

    .entertainment-card{

        
        .breakpoint-wrapper{
           display: grid;
           grid-template-columns: 1fr 70%;
           justify-content: center;
           align-items: center;
           margin-left: 1rem;
           grid-gap: 1rem;
           grid-template-areas:
           "heading heading"
           "image description";

           .entertainment-card__heading{
            text-align: left;
           }
        }

    }
    

}
