.scroll-up {

    
    position: relative;
    top: 0;
    right: 0;
    z-index:2;
    

    a{

        position: fixed;
        bottom: 2%;
        right: 2%;
        z-index: 2;
        border: none;
        background-color: transparent;
        display: none;
        

        i {
            font-size: 3rem;
            padding: 1rem;
            background-color: $color-orange;
            border-radius: 50%;

       
        }
    }
    
}