.panorama {


    &__wrapper {
        width: 100vw;
        height: auto;
        position: relative;


    }

    &__image {

        max-width: 100%;
        height: auto;

    }

    &__container{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 50%);
        color: $color-white;
        text-align: center;

        .panorama__main-heading{
            
            white-space: nowrap;
           
            
        }

        .panorama__description{
            margin: 3rem 0rem;
            font-size: 2rem;
        }

        .panorama__buttons{
            @include standart-flex (column, space-between, center);

            .left, .right{
                margin-bottom: 1rem; 
            }

            
            
        }
        
    }

  
   
}