.contact-us{

    width: 100vw;

    &__form{
        @include standart-flex(column, flex-start, flex-start);
        transform: translateX(5%);
        
        input, textarea{
            width: 90%;
            font-size: 2rem;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            border: 2px solid $color-black;
        }



    }
}